/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Bruno Ace SC", cursive;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

.bg-black {
  background: #000;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar li {
  padding: 40px 0 24px 0;
  width: 306px;
  text-align: center;
}
.navbar li a {
  color: #D1D1D1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.bigTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contackme {
  display: block;
  margin-left: auto;
  padding: 12px 24px;
  border-radius: 32px;
  background: #fff;
  color: #000;
}

.job {
  font-size: 64px;
  color: #fff;
}

.name {
  font-size: 128px;
  text-align: right;
  color: #00FFA3;
}

.introduction-bg {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 160px 0;
}

.intro-content {
  width: 40%;
}
.intro-content p {
  font-size: 24px;
  color: #fff;
  margin-bottom: 32px;
}

.intro-title {
  font-size: 64px;
  color: #fff;
  margin-bottom: 36px;
}

.intro-pic {
  width: 60%;
}
.intro-pic img {
  margin-right: 24px;
}
.intro-pic img:last-child {
  margin-right: 0;
}

.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
  padding: 160px 0;
}

.skill-cards {
  width: 49%;
}

.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skill-list li {
  width: 45%;
  padding: 16px;
  outline: solid 1px #e3e3e3;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
}

.skill-title {
  font-size: 20px;
}

.aboutme-content {
  width: 40%;
}
.aboutme-content p {
  font-size: 24px;
}

.aboutme-title {
  font-size: 64px;
}

.contactMe-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#050014), to(rgba(1, 2, 30, 0.8901960784)));
  background: linear-gradient(#050014, rgba(1, 2, 30, 0.8901960784));
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9%;
  padding: 96px 0;
}

.contactMe-title {
  width: 50%;
  font-size: 64px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactMe-title span {
  font-size: 100px;
}

.contactMe-img {
  width: 40%;
}
.contactMe-img img {
  width: 162px;
  height: 162px;
}